!!!

%head
  %title Raspberry Pi GPS Status

%body
  - coords = @gps.location.to_s
  %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=#{coords}&zoom=16&size=800x800&maptype=roadmap&sensor=true&markers=color:blue|#{coords}&visual_refresh=true"}
